# Additional requirements for project compilation at readthedocs 
numpydoc
nbsphinx

# Additional requirements for Windows:
Microsoft Visual C++ 14.0 or greater

# Additional requirements for Mac:
VS code with C++